{% extends 'RUser/design.html' %}
{% block userblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 904px;
    height: 202px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style6 {
	font-size: 18px;
	color: #FFFF00;
	font-weight: bold;
}
.style8 {color: #FFFF00; font-weight: bold; }
        .style10 {font-size: 18px; color: #FF0000; font-weight: bold; }
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">

                   <form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">PREDICTION OF <span class="style10">FALSE DATA INJECTION ATTACK DETECTION TYPE</span> !!! </p>
                            <hr>

                                {% csrf_token %}
                                <table width="1122" align="center">
                                  <tr>
                                    <td height="44" colspan="3" bgcolor="#FF0000"><div align="center" class="style8">ENTER DATASETS DETAILS HERE !!! </div></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style8">
                                      <div align="center">Enter  URLs</div>
                                    </div></td>
                                    <td>
                                      
                                      <input name="URLs" type="text" value="">                                      </td>
                                    <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style8">
                                      <div align="center">Enter  Headline</div>
                                    </div></td>
                                    <td>                                      <input type="text" name="Headline">                                      </td>
                                    <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td width="384" height="44" bgcolor="#FF0000"><div align="center" class="style8">Enter Body </div></td>
                                    <td width="291">                                      <textarea name="Body" cols="25" rows="8"></textarea>                                      </td>
                                    <td width="431">&nbsp;</td>
                                  </tr>
  <td height="41"><p>
    <input name="submit" type="submit" class="style1" value="Predict">
        </p>          </td>
  </tr>
                                </table>
					 </fieldset>
				  </form>


 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>

                            <hr>
                            <div>
                              <table width="881" height="52" border="0" align="center" >
                                    <tr><td width="624" bgcolor="#FF0000"><div align="center"><span class="style6">PREDICTED FALSE DATA INJECTION ATTACK DETECTION  TYPE</span> :: </div></td>



                                      <td width="247" bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{objs}}</div></td></tr>
                      </table>



                            </div>




						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>